<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/sidebarLayout}">
    <head>
        <title>메일템플릿마스터</title>
    </head>
    <body>
        <div layout:fragment="sidebar">
            <div th:replace="~{layouts/sidebar :: sidebar ('system', 'mailTemplate')}"></div>
        </div>
        <section layout:fragment="content-header">
            <h1>메일템플릿검색</h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/}">Home</a></li>
                <li>메일템플릿검색</li>
            </ol>
        </section>
        <section layout:fragment="content">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">검색조건</h3>
                    <form th:object="${searchMailTemplateForm}" th:action="@{/system/mailtemplates/find(page=1)}" method="post" class="form-horizontal">
                        <div class="form-group">
                            <div class="control-group" id="name">
                                <label class="col-sm-2 control-label">템플릿명</label>
                                <div class="col-sm-10">
                                    <input class="form-control" th:field="*{templateKey}" size="10" maxlength="80" />
                                    <span class="help-inline">
                                        <div th:if="${#fields.hasAnyErrors()}">
                                            <p th:each="err : ${#fields.allErrors()}" th:text="${err}">Error</p>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" name="find" class="btn btn-default bg-purple">검색</button>
                                <div class="dropdown pull-right">
                                    <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        조작
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a th:href="@{/system/mailtemplates/new}">메일템플릿등록</a></li>
                                        <li><a th:href="@{/system/mailtemplates/download/메일템플릿.csv}">CSV다운로드</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">검색결과</h3>
                </div>
                <div class="box-body table-responsive">
                    <table id="mailTemplates" class="table table-hover" th:if="${pages} != null and ${pages.data} != null">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>템플릿명</th>
                                <th>타이틀</th>
                                <th>본문</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="mailTemplate : ${pages.data}">
                                <td>
                                    <a th:href="@{/system/mailtemplates/show/__${mailTemplate.id}__}" th:text="${mailTemplate.id}" />
                                </td>
                                <td th:text="${mailTemplate.templateKey}" />
                                <td th:text="${mailTemplate.subject}" />
                                <td th:text="${#strings.abbreviate(mailTemplate.templateBody,20)}" />
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <div th:replace="~{fragments/paginator :: paginator (${pages}, '/system/mailtemplates/find')}" />
                </div>
            </div>
        </section>
    </body>
    <div layout:fragment="scripts">
        <script type="text/javascript" th:inline="javascript">
            $(document).ready(function() {
            });
        </script>
    </div>
</html>
