<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
    <head>
        <title>패스워드의 변경</title>
    </head>
    <body class="login-page">
        <div layout:fragment="content">
            <div class="login-box">
                <div class="login-logo">
                    패스워드의 변경
                </div>
                <div class="login-box-body" th:if="${(param.error == null && param.done == null)}">
                    <p class="login-box-msg">새로운 패스워드를 입력해주세요.</p>
                    <form class="form-horizontal" th:object="${changePasswordForm}"
                          th:action="@{'/changePassword'}" method="post" autocomplete="off">
                        <div class="box-body">
                            <div class="form-group" th:with="invalid=${#fields.hasErrors('password')}"
                                 th:class="${'form-group' + (invalid ? ' has-error' : '')}">
                                <input type="password" class="form-control" name="password" placeholder="패스워드" />
                                <span th:if="${invalid}" class="help-block" th:errors="*{password}">Error</span>
                            </div>
                            <div class="form-group" th:with="invalid=${#fields.hasErrors('passwordConfirm')}"
                                 th:class="${'form-group' + (invalid ? ' has-error' : '')}">
                                <input type="password" class="form-control" name="passwordConfirm" placeholder="확인 패스워드" />
                                <span th:if="${invalid}" class="help-block" th:errors="*{passwordConfirm}">Error</span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn bg-purple btn-block btn-flat">보관</button>
                            </div>
                        </div>
                    </form>
                    <a href="#" th:href="@{/login}">로그인 화면으로 돌아가기</a>
                </div>
                <div class="login-box-body" th:if="${(param.error != null)}">
                    <p class="login-box-msg">유효한 토큰이 아닙니다. 다시 한번 패스워드를 리셋해주세요.</p>
                    <a href="#" th:href="@{/resetPassword}">패스워드 리셋으로 돌아가기</a>
                </div>
                <div class="login-box-body" th:if="${(param.done != null)}">
                    <p class="login-box-msg">패스워드를 변경했습니다.</p>
                    <a href="#" th:href="@{/login}">로그인 화면으로 돌아가기</a>
                </div>
            </div>
        </div>
    </body>
</html>
